<script>
    loadCSS("/public.css")
</script>
<style>
    .amap-toolbar {
        z-index: 0 !important;
    }

    table caption {
        color: #000000;
    }

    .info-panel > .panel {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow-y: auto;
    }

    .table-home td, .table-company td, .table-home th, .table-company th {
        text-align: center;
    }

    .marker {
        background-color: #666;
        color: white;
        border-radius: 20px;
        /* opacity: 0.8; */
        padding: 5px;
        white-space: nowrap;
    }

    .amap-marker-content .tooltip {
        opacity: 1;
        position: relative;
        white-space: nowrap;
    }
</style>
<div id="ng-app" ng-controller="appCtrl" class="ng-cloak">
    <div class="col-sm-3 info-panel animated fadeInLeft" style="min-width: 380px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="user-profile">
                    <form novalidate ng-submit="search()">
                        <div class="input-group input-group-minimal">
                            <span class="input-group-addon"><i class="fa-map-marker"></i></span>
                            <input type="text" class="form-control" placeholder="查询的用户标识或经纬度"
                                   ng-model="searchForm.userIdOrLngLat" id="userID"> <span
                                class="input-group-btn">
								<button type="submit" class="btn btn-blue" id="search"
                                        ng-class="{'disabled':searching}">
                                    <span ng-show="!searching">Search</span><span
                                        ng-show="searching">Search...</span>
                                </button>
							</span>
                        </div>
                    </form>
                    <div style="margin-top: 15px;">注：
                        用户标识为空时，获取的是当前登录用户的位置信息。
                    </div>
                    <hr>
                </div>
                <div>
                    <table class="table table-bordered table-home">
                        <caption><h3>家</h3></caption>
                        <thead>
                        <tr>
                            <th class="pointer" ng-click="viewMarker(home.old.marker)">上次</th>
                            <th class="pointer" ng-click="viewMarker(home.new.marker)">本次</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{home.old.gdx?home.old.gdy+","+home.old.gdx:"加载中"}}</td>
                            <td>{{home.new.gdx?home.new.gdy+","+home.new.gdx:"加载中"}}</td>
                        </tr>
                        <tr>
                            <td>{{home.old.regeocode.formattedAddress||"加载中"}}</td>
                            <td>{{home.new.regeocode.formattedAddress||"加载中"}}</td>
                        </tr>
                        <tr data-toggle="tooltip" data-title="分数">
                            <td>
                                {{home.old.score||"加载中"}}
                            </td>
                            <td>
                                {{home.new.score||"加载中"}}
                            </td>
                        </tr>
                        <tr data-toggle="tooltip" data-title="置信区间下限">
                            <td>
                                {{home.old.p1||"加载中"}}
                            </td>
                            <td>
                                {{home.new.p1||"加载中"}}
                            </td>
                        </tr>
                        <tr data-toggle="tooltip" data-title="挖掘时间">
                            <td>
                                {{home.old.updatetime||"加载中"}}
                            </td>
                            <td>
                                {{home.new.updatetime||"加载中"}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" ng-class="{'text-info':home.distance===0,'text-danger':home.distance!==0}">
                                <span ng-show="home.distance===0">两次结果一致</span>
                                <span ng-show="home.distance!==0">两次结果相差{{home.distance}}米</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="table table-bordered table-company">
                        <caption><h3>公司</h3></caption>
                        <thead>
                        <tr>
                            <!--<th>字段</th>-->
                            <th class="pointer" ng-click="viewMarker(company.old.marker)">上次</th>
                            <th class="pointer" ng-click="viewMarker(company.new.marker)">本次</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <!--<td>高德坐标系</td>-->
                            <td>{{company.old.gdx?company.old.gdy+","+company.old.gdx:"加载中"}}</td>
                            <td>{{company.new.gdx?company.new.gdy+","+company.new.gdx:"加载中"}}</td>
                        </tr>
                        <tr>
                            <!--<td>地址</td>-->
                            <td>{{company.old.regeocode.formattedAddress||"加载中"}}</td>
                            <td>{{company.new.regeocode.formattedAddress||"加载中"}}</td>
                        </tr>
                        <tr>
                            <td>
                                {{company.old.score||"加载中"}}
                            </td>
                            <td>
                                {{company.new.score||"加载中"}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{company.old.p1||"加载中"}}
                            </td>
                            <td>
                                {{company.new.p1||"加载中"}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{company.old.updatetime||"加载中"}}
                            </td>
                            <td>
                                {{company.new.updatetime||"加载中"}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"
                                ng-class="{'text-info':company.distance===0,'text-danger':company.distance!==0}">
                                <span ng-show="company.distance===0">两次结果一致</span>
                                <span ng-show="company.distance!==0">两次结果相差{{company.distance}}米</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <x-toggle-left></x-toggle-left>
    </div>
    <div id="mapContainer" class="map-container"></div>
</div>
<script src="http://webapi.amap.com/maps?v=1.3&key=a0ca0ef317a808948f4a732403d55404"></script>
<script>
    loadJS('/angular.min.js')
    loadJS('/dshow/amap/user/digcompare.js')
</script>